<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLSchemes</key>
	<string>fb577774294869089</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbshareextension</string>
		<string>fbauth2</string>
		<string>fb-messenger-share-api</string>
		<string>fbapi</string>
	</array>
	<key>FacebookAppID</key>
	<string>1146626893836078</string>
	<key>FacebookDisplayName</key>
	<string>Expense Finance Calculator</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>We request permission to use your activity data to enhance your experience and provide relevant ads.</string>
</dict>
</plist>
